.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
.modal {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 3;
  display: none;
}
.modal__actions {
  text-align: center;
}

#product-overview {
  height: 700px;
  border: 1px solid black;
  background-image: url("./image/freedom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: #3a1c71; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffaf7b,
    #d76d77,
    #3a1c71
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#product-overview h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

#plans {
  text-align: center;
  margin: 20px;
}
.plan {
  border: 1px solid black;

  width: 100%;
  margin: 8px;
  padding: 16px;
  text-align: center;
  background-color: rgb(218, 192, 196);
  vertical-align: middle;
}

.highlighted-plan {
  background-color: salmon;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan__annotation {
  background-color: white;
  color: salmon;
  border-radius: 10px;
  margin: 20px;
}
.plan-features {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.plan-features > li {
  margin: 10px;
}
.plan__title {
  color: cornflowerblue;
}
.plan__price {
  color: darkolivegreen;
}
#key-features {
  background-color: lemonchiffon;
}
.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-feature {
  /* display: inline-block;
  width: 30%; */
  width :100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.key-feature__image {
  padding: 20px;
  width: 128px;
  height: 128px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 15px auto;
}

@media (min-width: 40rem) {
  #product-overview h1 {
    font-size: 4rem;
  }
  .plan {
    display: inline-block;
    width: 30%;
  }
  .key-feature {
    display: inline-block;
    width: 30%;
}
