* {
  font-family: "Nanum Myeongjo", serif;
}

.main-header {
  background-color: burlywood;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header a {
  font-family: "Xanh Mono", monospace;
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding: 30px;
}
.nav-flex1 {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.toggle-button {
  width: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background-color: ivory;
  display: block;
  margin: 0.6rem 0;
}

.main-nav__item {
  display: inline-block;
  font-size: 20px;
  border: 1px solid ivory;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  vertical-align: middle;
}
.nav-flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left:hover,
.nav-left:active {
  background-color: white;
  color: burlywood;
}
.main-nav-right {
  margin-right: 3rem;
}
.nav-right:hover,
.nav-right:active {
  color: gray;
}
.nav-right {
  border: none;
}

.main-page section h1 {
  display: inline-block;
}
#title1-background {
  margin-top: 5.5rem;
  width: 100vw;
  height: 500px;
  background-image: url("./image/coffee.jpg");
  background-size: cover;
  position: relative;
}
.read-introduction {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 10%;
}
.read-introduction_detail {
  display: inline-block;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
  margin-top: 50px;
}
.book1-image_container {
  width: 200px;
  position: absolute;
  top: 20%;
  left: 700px;
}
.book1-image {
  max-width: 100%;
}
.book2-image_container {
  width: 200px;
  position: absolute;
  top: 20%;
  left: 950px;
}
.book2-image {
  max-width: 100%;
}
.book3-image_container {
  width: 200px;
  position: absolute;
  top: 20%;
  left: 1200px;
}
.book3-image {
  max-width: 100%;
}
#title2-background {
  background-image: url("./image/coziness.webp");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.meet-introduction {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 10%;
}
.places {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 55rem;
  height: 30rem;
}
.meet-introduction_datail {
  display: inline-block;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 40%;
  left: 10%;
  margin-top: 30px;
}
.place1-image_container {
  display: inline-block;
  width: 18rem;
  height: 16rem;
  background-color: white;
}
.place1-image {
  max-width: 100%;
}
#park {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.place2-image_container {
  display: inline-block;
  width: 18rem;
  height: 16rem;
  background-color: white;
}
.place2-image {
  max-width: 100%;
}
#library {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.place3-image_container {
  display: inline-block;
  width: 18rem;
  height: 16rem;
  background-color: white;
}

.place3-image {
  max-width: 100%;
}
#cafe {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#title3-background {
  background-image: url("./image/cozy.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.operation-instruction {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 30%;
  left: 10%;
}
.operation {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-template-rows: 10rem 10rem;
  grid-gap: 1rem;
  position: absolute;
  top: 25%;
  left: 40%;
  width: 41rem;
  height: 21rem;
}
.grid__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
.document-sharing {
  color: black;
  font-size: 20px;
  background-color: rgb(231, 231, 162);
}
.document-icon {
  width: 50px;
  height: 50px;
}

#document {
  margin-left: 20px;
}
.book-reading {
  color: black;
  font-size: 20px;
  background-color: beige;
}
.book-reading-icon {
  width: 50px;
  height: 50px;
}
#reading {
  margin-left: 20px;
}
.book-writing {
  color: white;
  font-size: 20px;
  background-color: darksalmon;
}
.book-writing-icon {
  width: 50px;
  height: 50px;
}
#writing {
  margin-left: 20px;
}
.writer-meeting {
  color: white;
  font-size: 20px;
  background-color: skyblue;
}
.writer-meeting-icon {
  width: 50px;
  height: 50px;
}
#writers {
  margin-left: 20px;
}
