* {
  font-family: "Nanum Myeongjo", serif;
}
.main-header {
  background-color: burlywood;
}

.main-header a {
  font-family: "Xanh Mono", monospace;
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding: 30px;
}
.main-header div {
  display: inline-block;
}
.main-nav__item {
  display: inline-block;
  font-size: 20px;
  border: 1px solid ivory;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}
.main-nav {
  display: inline-block;
}
.sidenav-left {
  text-align: left;
}
.main-nav .sidenav-right {
  border: none;
}
.main-page section h1 {
  display: inline-block;
}
